<!DOCTYPE html>
<html class="h-100">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="gradient flex flex-col  h-screen">
    <%= render 'shared/navbar' %>

    <main class="container mx-auto flex-grow">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
